body {
  padding-top: 100px;
}


footer {
	padding-top: 100px;
	text-align: center;
	padding-bottom: 20px;
	font-size: .8em;
}

footer a {
	color: #99aDb7;
}

#li-logout{
	color: #A94442;
	margin-left: 50px;
}

#li-logout:hover{
	color: #EBCCD1;
}

#scroll-results{
  max-height: 300px;
  overflow-y: scroll;
}

#tiny-navbar-pic {
	padding: 5px;
	padding-right:0px;

}

#tiny-navbar-pic:hover{
	cursor: default;
}

.brand {
	color: #777;
	font-size: 1em;
}

.brand:hover{
	cursor: default;
}

ul.nav li{
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	color: #777;
}

ul.nav li:hover{
	cursor: pointer;
	color: #555;
}

ul.nav li.active{
	background-color: #eee;
	color: #555;
}

.blue-jumbotron{
	background-color: #D9EDF7;
}

.green-jumbotron{
	background-color: #DFF0D8;
}

.red-jumbotron{
	background-color: #F2DEDE;
}

.yellow-jumbotron{
	background-color: #FCF8E3;
}

.beer-label{
	font-weight: normal;
}

.color-love{
	color: #DFF0D8;
}
.color-like{
	color: #D9EDF7;
}
.color-tolerate{
	color: #FCF8E3;
}
.color-hate{
	color: #F2DEDE;
}

.fade {
	opacity: 0;
	transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.result-li:hover{
	cursor: pointer;
}

#love-word{
	font-weight: bold;
}
